// $primary: #354052;
$primary: #36424b;
$primary-dark: #1d2932;
$primary-white: #fff;
$secondary-gray: #cfd8d9;
// $primary-black: #000;

// $secondary: #00d1b2;

// // $secondary: #6ddc9f;

// $error: #ff3860;
